#content{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    /* height: 800px; */
    background-color: goldenrod;
}
#login_box {
    width: 200px;     
    background-color: gold;
    border: 1px blue solid;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 5px 5px 5px;
}
#btn {
    box-shadow: 1px 1px 1px;
}
#mamber {
    box-shadow: 1px 1px 1px;
}

#submit {
    box-shadow: 1px 1px 1px;
}
#delete {
    box-shadow: 1px 1px 1px;
}
#conten{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: yellow;
}
#main {
    background-color: red;
    width: 800px;
    height: 800px;
    clear:left;
    float: left;
}
#top {
    background-color: yellow;
    width: 800px;
    height: 100px;
}
#mid {
    background-color: green;
    width: 800px;
    height: 100px;
}
#bot {
    background-color: blue;
    width: 800px;
    height: 500px;
}
#top-left {
    background-color:rgb(228, 133, 24);
    width:200px;
    height:100px;
    float:left;
}
#top-right {
    background-color:rgb(89, 49, 197);
    width:600px;
    height:100px;
    float:left;
}
#mind1 {
    background-color:yellow;
    width:160px;
    height:100px;
    float:left;
}
#mind2 {
    background-color:rgb(141, 60, 104);
    width:160px;
    height:100px;
    float:left;
}
#mind3 {
    background-color:rgb(212, 137, 40);
    width:160px;
    height:100px;
    float:left;
}
#mind4 {
    background-color:skyblue;
    width:160px;
    height:100px;
    float:left;
}
#mind5 {
    background-color:rgb(184, 34, 67);
    width:160px;
    height:100px;
    float:left;
}
#bot-left {
    background-color:rgb(54, 179, 85);
    width:200px;
    height:500px;
    float:left;
}
#bot-right {
    background-color:rgb(65, 173, 146);
    width:600px;
    height:500px;
    float:left;
}
#sub {
    background-color:skyblue;
    width:200px;
    height:800px;
    float:left;
}
.frame {
    display: inline-block;

    padding: 8px;

    border-radius: 8px;
    background-color: #000000;
}

.clock {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.large_text {
    font-size: 75px;
}

.small_text {
    font-size: 20px;
}

.date_box {
    font-size: 15px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.colon {
    font-size: 55px;
    vertical-align: text-bottom;
    animation: blink 1s step-start 0s infinite;
}